<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <style>
        /* Свойства стиля элемента. Подробнее о них в модуле по CSS */
        .bordered {
            border: 2px solid black;
            background-color: azure;
            padding: 10px;
        }

        .video-container {
            display: inline-block;
        }

        .footer {
            position: absolute;
            bottom: 0;
        }
    </style>
</head>
<header>
    <!--Заголовок страницы-->
    <h1>LifeSpot — прямые трансляции с улиц</h1>
    <!--Параграф-->
    <p>Покажем, что происходит прямо сейчас</p>
</header>
<body>
    <div class="bordered">
        <!--<a href="https://www.youtube.com/watch?v=srlpC5tmhYs&ab_channel=BryantParkNYC"><button>Москва</button></a>
        <a href="https://www.youtube.com/watch?v=wCcMcaiRbhM"><button>Нью-Йорк</button></a>
        <a href="https://www.youtube.com/watch?v=JplMzss6_YE&ab_channel=WokiliWanders"><button>Лондон</button></a>-->
        <div class="video-container">
            <h3 class="video-title">Непонятно</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wCcMcaiRbhM?si=urPJi0phobfMo4w8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="video-container">
            <h3 class="video-title">Непонятно</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/MIE7SVpxzI8?si=wl-wVJK26gsWwX35" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="video-container">
            <h3 class="video-title">Непонятно</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/JplMzss6_YE?si=5gBCpSGA2-gKfEor" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</body>
<!--Футер страницы находится под основной частью (body)-->
<footer>
    <p>LifeSpot - все права защищены</p>
    <p>Связаться с нами: contact@lifespot.ru</p>
</footer>
</html>